.concept {
  position: relative;
  font-family: var(--font-cormorant-garamond);
}

.b-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room {
  position: relative;
  width: 100%;
}

.description {
  position: absolute;
  right: 5%;
  bottom: 1%;
  z-index: 1;
  display: inline-block;
  width: fit-content;
}

.paragraph {
  display: inline-block;
  font-style: italic;
}
