.concept {
  position: relative;
}

.divA {
  position: relative;
  min-height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  z-index: var(--z-section);

  @media (max-width: 767px) {
    padding: 0 1rem;
  }
}

.divB {
  position: relative;
  display: flex;
  opacity: 1;
  padding-top: 100px;
  padding-bottom: 200svh;
  z-index: var(--z-base);

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.bLeft {
  flex: 0 0 40vw;

  @media (max-width: 767px) {
    display: none;
  }
}

.bContent {
  flex: 1;
  padding: 10vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 5vh 4vw;
  }
}

.cathcCopyEn {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 2rem;
  margin-top: 4rem;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

.cathcCopyJa {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 0.82rem;
}

.description {
  font-family: var(--font-cormorant-garamond);
  font-size: 1rem;
  line-height: 2;
  max-width: 600px;
  text-align: center;
  margin-top: 5rem;

  p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
