.concept {
  position: relative;
}

.bLeft {
  flex: 0 0 40vw;

  @media (max-width: 767px) {
    display: none;
  }
}

.b-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 5vh 4vw;
  }
}

.detailPhase {
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.cathcCopyEn {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 2rem;
  margin-top: 4rem;
}

.cathcCopyJa {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 0.82rem;
}

.description {
  font-family: var(--font-cormorant-garamond);
  font-size: 1rem;
  line-height: 2;
  max-width: 600px;
  text-align: center;
  margin-top: 5rem;

  p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
