.concept {
  position: relative;
  font-family: var(--font-cormorant-garamond);
}

.b-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cathcCopyEn {
  font-style: italic;
  font-size: 2rem;
}

.cathcCopyJa {
  font-style: italic;
  font-size: 0.82rem;
}
