.heading {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: var(--font-cormorant-garamond);
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 2rem;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }

  .children {
    padding: 0 0.25em;
  }

  .underline {
    display: block;
    height: 1px;
    width: 8rem;
    background: linear-gradient(to right, #0000, #a3e63566, #0000);
    margin: 0 auto 1rem;
  }
}

h2.heading {
  font-weight: 400;
}
